main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    text-align: center;
}

.game-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 0;
    align-items: center;
}

input, .guess-button {
    width: fit-content;
}

input[type=text] {
    border: none;
    margin: 2rem 0;
    padding: 15px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.08);
}

.inline {
    display: inline;
}

label, .guess-outcome {
    margin-bottom: 1rem;
}

/* CSS */
.guess-button {
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-left: 2rem;
  min-height: 60px;
  padding: 16px 24px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.guess-button:disabled {
  pointer-events: none;
}

.guess-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.guess-button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* CSS */
.play-again {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.play-again:disabled {
  pointer-events: none;
}

.play-again:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.play-again:active {
  box-shadow: none;
  transform: translateY(0);
}